/* Global rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body rules */
body {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;

  font-family: "Vibur", cursive;
  /*   the main font */
  font-family: "Abel", sans-serif;
  opacity: 0.95;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.modal-footer {
  margin-top: 30px;
  border-top: 1px solid #adaab0;
}

/* Form  attributes */
#prodModal form {
  width: 415px;
  /*min-height: 500px;*/
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 20px;
  border-radius: 5px;
  opacity: 0.9;
  background: linear-gradient(
    109.6deg,
    rgb(255, 255, 255) 11.2%,
    rgb(255, 221, 225) 92.2%
  );
}

/* form Container */
#prodModal form .con {
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0 auto;
}

.modal-content {
  border-radius: 7px;
  padding: 28px 10px 37px 12px;
}

/* Form's header */

.head-form h2#header-title {
  color: #404040;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.input-item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}

/* inputs form  */
input[class="form-input"] {
  width: 240px;
  height: 50px;

  margin-top: 2%;
  padding: 15px;

  font-size: 16px;
  font-family: "Abel", sans-serif;
  color: #5e6472;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}
input[id="txt-input"] {
  width: 250px;
}

.fa-mobile,
.fa-mobile-alt {
  font-size: 23px;
}






